body {
    font-family: Arial;
    text-align: center;
    background-color: white;
}

h1 {
    background-color: #333;
    color: white;
    padding: 15px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: white;
    padding: 15px;
    width: 180px;
    border-radius: 5px;
}

.product img {
    width: 100%;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
.navbar {
    background-color: #222;
    color: white;
    padding: 10px;
}

.navbar h2 {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: white;
    margin: 10px;
    
}
.contact {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

input, textarea {
    width: 200%;
    padding: 100px;
}
.footer {
    background-color: #222;
    color: white;
    padding: 5px;
    margin: 30px;
}
.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact-form, .contact-info {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.contact-form button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: green;
}
